:root {
  --var-background: #FCFCFC;
  --var-primary: #32292F;
  --var-secondary: #979797;
  --var-accent: #f2f2f2;
  --var-accent-dark: #5e5e5e;
}

body {
  background: var(--var-background);
  font-family: 'Roboto', sans-serif;
  color: var(--var-primary);
  overflow-x: hidden;
  min-height: 100vh;
}

/* Containers */
.web-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.web-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.web-section-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.web-section,
.web-section-grid {
  width: 100%;
  padding: 3rem 1rem;
  max-width: 1400px;
  margin-bottom: 2rem;
}

.web-section-cont-dark {
  background: var(--var-accent);
  color: var(--var-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 1rem 0;
}

.web-section-cont {
  background: var(--var-background);
  color: var(--var-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 1rem 0;
}

.web-section-light {
  background: var(--var-primary);
  color: var(--var-background);
}

.web-section-dark {
  background: var(--var-background);
  color: var(--var-primary);
}

.web-section-grid__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.web-section__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.web-section__item-img {
  width: 80%;
  max-width: 600px;
  border-radius: 9px;
}

@media screen and (min-width: 768px) {
  .web-section-grid {
    grid-template-columns: 1fr 1fr;
  }

  .web-section,
  .web-section-grid {
    padding: 5rem 2rem;
  }
}

/* Typography */
.web-section-header {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
}

.web-section-subheader {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 0 1rem 0;
}

.text-highlight {
  color: var(--var-secondary);
}


.link {
  color: var(--var-primary);
  text-decoration: none;
  transition: all .3s;
}

.link:hover {
  color: var(--var-primary);
  text-decoration: none;
  opacity: 0.9;
}

/* Button */
.btn {
  color: var(--var-background);
  background: var(--var-primary);
  font-weight: 700;
  width: 100%;
  transition: all .3s;
}

.btn:hover {
  color: var(--var-background);
  background: var(--var-primary);
  scale: 1.01;
  opacity: 0.95;
}

/* Lists */
.web-section__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: grid;
}

.web-section__list-item {
  font-weight: 300;
  font-size: 1.2rem;
  text-align: left;
}

.web-section__list-item-icon {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .web-section__list-item-icon {
    display: none;
  }

  .web-section__list-item {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
  }
}