.footer {
    margin: 0;
    padding: 2rem;
    background: var(--var-accent);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .footer-list {
        flex-direction: row;
        justify-content: space-around;
    }
}